@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif; 
}

html{
    background-color:  #161717;
}

/* CONTAINER */

.container{
    margin: auto;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
}

/* BOTONES */

.google-btn{
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.buttons{
    display: flex;
    align-self: flex-start;
    gap: 20px;
}

.google-btn:hover{
    opacity: 0.75;
    cursor: pointer;
}

.google-btn span{ 
    color: aliceblue;
    font-weight: 500;
    padding: 13px;
}

.google-btn picture{ 
    height: 35px;
    width: 35px;
    background-color: aliceblue;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn picture img{ 
    width: 75%;
}

.twitter-btn{
    border: none;
    width: 40px;
    border-radius: 5px;
    color: #bbb;
    background-color: #eee;

}

.twitter-btn:hover{
    background-color: #ddd;
    cursor: pointer;
}

/* SEPARADOR*/

.separator{
    display: flex;
    width: 100%;
    gap: 15px;

}

.separator span{
    color: #bbb;
}

.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px rgb(200, 198, 198) solid;
}

/* INPUTS*/

.section-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

.section-inputs label input{
    width: 80%;
}

label{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label input{
    /* width: 100%; */
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 1s, border 0.2s, box-shadow 0.2s;
}

label input:hover{
    background-color: #454045;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #ec7ad4;
    

}

label input:focus{
    background-color: white;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #ec7ad4;
    
}

label span{
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

/* CHECKBOX */

.checkbox-label{
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"]{
    width: 20px;
}

.checkbox-label span{
    font-weight: normal;
    font-size: 10pt;
}

button[type="submit"]{
    background-color: #ea4c89;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
}

button[type="submit"]:hover{
    opacity: 0.75;
}

/* TEXTOS */

span, h2{
    color: white;
}

